# Titanic - Machine Learning from Disaster

## Importing Packages
Python packages are software modules which can be installed into your class hierarchy. [Pandas](https://pandas.pydata.org/) and [Scikit-Learn](https://scikit-learn.org/stable/index.html) are popular for machine learning and data science.

### Pandas
We use the 'as' keyword to modify the name of the module. You will see this used later when we call functions from the pandas class.

In [3]:
import pandas as pd

### Scikit-Learn
We use the 'from' keyword to limit the scope of the module. Instead of importing the entire scikit-learn library, we can choose to just import [RandomForestClassifer](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html). This is the model you will be learning this summer.

In [4]:
from sklearn.ensemble import RandomForestClassifier

### Python Standard Library - os
This module provides a portable way of using operating system dependent functionality. We will be it for file structure and file I/O.

In [86]:
import os

## Loading the Data
The Random Forest Classifier model fits a number of decision trees on sub-samples of the dataset. This tutorial has already split the data into train.csv and test.csv in the data folder.

### Path
The absolute path to the data folder will change between you and your teammates' computers. We can join the path using variables.

In [87]:
root_dir = os.path.abspath("")
root_dir = os.path.dirname(root_dir)
data_dir = "data\\train.csv"
data_dir = os.path.join(root_dir, data_dir)
print(data_dir)

c:\Users\vduarte\projects\git\bootcamp\titanic\data\train.csv

### DataFrame
Using the path above, we can call the [read.csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function from pandas. According to the docs, it returns a DataFrame or a two-dimensional data structure with labeled axes. You can see the first five rows of the data below.

In [88]:
train_data = pd.read_csv(data_dir)
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S